<!--The content below is only a placeholder and can be replaced.-->
<div class="test test__inner">
  <div class="message-container">
    <div class="messages">
      <div *ngFor="let message of messages">{{message}}</div>
    </div>

    <div class="input-form">
      <input type="text" [(ngModel)]="message">
      <button class="input-form__button" (click)="submit(message)">&#9654;</button>
      <app-picker [emojis]="stateService.emojis" (onPicked)="pick($event)"></app-picker>
    </div>
  </div>
</div>




