<button class="picker__button" (click)="triggerEmojiPicker()">😁</button>
<div class="emoji-picker emoji-picker__inner" [hidden]="!showEmojiPicker">
  <div class="emoji-group">
    <h3>Смайлы</h3>
    <div class="emoji-btn-group">
      <button (click)="pick(emoji)" *ngFor="let emoji of emojis.smiles">{{emoji.symbol}}</button>
    </div>
  </div>
  <div class="emoji-group">
    <h3>Люди</h3>
    <div class="emoji-btn-group">
      <button (click)="pick(emoji)" *ngFor="let emoji of emojis.people">{{emoji.symbol}}</button>
    </div>
  </div>
  <div class="emoji-group">
    <h3>Природа</h3>
    <div class="emoji-btn-group">
      <button (click)="pick(emoji)" *ngFor="let emoji of emojis.nature">{{emoji.symbol}}</button>
    </div>
  </div>
  <div class="emoji-group">
    <h3>Символы</h3>
    <div class="emoji-btn-group">
      <button (click)="pick(emoji)" *ngFor="let emoji of emojis.symbols">{{emoji.symbol}}</button>
    </div>
  </div>
</div>

